body {
    background-color: rgb(242, 239, 229);
    background-image: url(../img/htmlbackground.png);
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed;
    padding: 10px 50px 50px 50px;
    margin: 0;
}



header {
    margin: 0; 
    font-size: 80px;
    padding-bottom: 50px;
    align-items: center;
}
img {
  width: 500px; 
  height: auto; 
  margin-right: 50px; 
  padding: 0px 0px 50px 0px;
  
}

.click_here {
  width: 20%;
  height: auto;
  margin-left: -20%;
  margin-top: -5%;
}