body {
    background-color: rgb(242, 239, 229); 
    background-image: url('../../img/new_backgroundimg1.png');
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed;
    padding: 10px 50px 50px 50px;
    margin: 0;
}

header { /* add hover effect -noopur */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 50px;
    font-family: "aktiv-grotesk", sans-serif;
    font-size: 100px;
    color: rgb(40, 106, 206);
    height: 100vh;
    position: relative; 
}

header .text-overlay {
    z-index: 1; 
}

header h1 {
    margin: 0;
    padding: 0;
}

header img {
    width: 500px; 
    height: auto; 
    transform: rotate(15deg); 
    position: absolute; 
    top: 100px; 
    right: 50px; 
    z-index: 0; 
}

header .to-do-list {
    width: 350px;
    height:auto;
    position: absolute;
    transform: rotate(-25deg);
    top: 500px;
    left: -35px;
    z-index: 2;


}

header a {
    text-decoration: none;
    color: inherit;
}


.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 35px; 
    padding: 50px 0px 25px 0px;
}

.image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 1000px;
    position: relative; 
    line-height: 30.5px;
    padding-top: 50px; 
}

.image-text img {
    width: 500px; 
    height: auto;
    margin-right: 20px; 
    padding: 30px;
}

.image-text p {
    font-size: 28px;
    color: #333;
    margin: 0; 
    padding: 0px;
    width: 30%;
    font-family: "dekko", serif;
    font-weight: 600;
    font-style: normal;
}

.image-text .paper {
    position: absolute;
    top: auto;
    left: 500px;
    width: 50%;
    height: auto;
    z-index: -1;

}




.image-text .star-image {
    position: absolute; 
    top: 250px; 
    right: -200px; 
    width: 400px; 
    height: auto;
    z-index: 2; 
}

.image-text .flower-image {
    position: absolute; 
    top: 600px; 
    right: 700px; 
    width: 400px; 
    height: auto; 
    z-index: 2;
}

.image-text .ladybug-image {
    position: absolute; 
    top: 80px; 
    right: 250px; 
    width: 400px; 
    transform: rotate(-15deg);
    height: auto; 
    z-index: 2; 
}


.image-text .star-image2 {
    position: absolute; 
    top: 750px; 
    right: 650px;
    width: 400px; 
    height: auto; 
    z-index: 2; 
}
.image-text .bow-image {
    position: absolute; 
    top: 165px; 
    right: 700px; 
    width: 400px; 
    height: auto; 
    transform: rotate(-25deg);
    z-index: 2; 
}


.image-text .heart-image { 
    position: absolute; /* Position absolutely inside the .image-text container */
    top: 250px; /* Move the sun image above the text box */
    right: -225px; /* Adjust this value to center or move the sun left or right */
    width: 400px; /* Resize the sun image */
    height: auto; /* Maintain aspect ratio */
    z-index: 2; /* Ensure the sun image is above the text box */
}

.image-text .pressedflower-image { 
    position: absolute; /* Position absolutely inside the .image-text container */
    top: 600px; /* Move the sun image above the text box */
    right: 700px; /* Adjust this value to center or move the sun left or right */
    width: 400px; /* Resize the sun image */
    height: auto; /* Maintain aspect ratio */
    z-index: 2; /* Ensure the sun image is above the text box */
}

.image-text .ladybug2 { 
    position: absolute; /* Position absolutely inside the .image-text container */
    top: 750px; /* Move the sun image above the text box */
    right: 10px; /* Adjust this value to center or move the sun left or right */
    width: 400px; /* Resize the sun image */
    height: auto; /* Maintain aspect ratio */
    transform: rotate(-40deg);
    z-index: 2; /* Ensure the sun image is above the text box */
}


